* {
    padding: 0;
    margin: 0;
}

body {
    width: 1280px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    padding: 26px 0;
}

.navbar-list {
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
}

.navbar-list-item {
    padding: 0 36px;
    display: inline-block;
}

.navbar-item-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    letter-spacing: 2.7px;
    text-decoration: none;
}

.navbar-list-item-narrow {
    padding: 0 14px;
}

.main-image {
    width: 100%;
    height: 789px;
}

.main-section {
    text-align: center;
}

.main-title {
    padding: 50px 253px 38px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #373737;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}

.main-text {
    padding:0 68px 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

.btn {
    padding: 18px 44px;
    margin: 66px 544px 150px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px; 
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:  #FF0000;
    border: none;
    border-radius: 4px;
}

.copyright {
    width: 1280px;
    padding: 0 105px 30px 713px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}
